<section class="w-full bg-white py-16 px-6">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center">

        <!-- Left content -->
        <div class="space-y-6 animate-fadeInLeft">
        <h1 class="text-4xl font-bold text-gray-900">
            Welcome to the API Portal
        </h1>
        <p class="text-gray-600 text-lg leading-relaxed">
            Discover, explore, and interact with all internal APIs through a smart and user-friendly interface.
            Search instantly, access simplified technical sheets, view Swagger specifications, and suggest new APIs your team needs.
        </p>
        <div class="w-50 h-0.5 bg-black mix-left mt-1.5 rounded px-1 mb-4"></div>
        <button class="flex items-center gap-2 text-orange-500 font-semibold hover:scale-105 transition-transform duration-300 animate-fadeInLeft">
            Learn more
            <span class="text-xl">
                <div class="group w-5 h-5">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="w-full h-full transition-transform duration-300 group-hover:translate-x-1">
                        <circle cx="12" cy="12" r="12" fill="#FF7900"/>
                        <line x1="8" y1="12" x2="16" y2="12" stroke="black" stroke-width="2" stroke-linecap="round"/>
                        <polyline points="12 8 16 12 12 16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>

            </span>
        </button>
        </div>

        <div class="flex justify-center animate-fadeInRight">
            <img 
                src="assets/images/api_home.png" 
                alt="API illustration"
                class="max-w-md w-full h-auto object-contain"
            />
        </div>

    </div>
</section>
<section class="w-full bg-[#FFD6B0] py-12 px-6">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">

        <div
            tabindex="0"
            class="bg-white shadow transition-all duration-20  border border-orange-500  p-6 relative hover:shadow-lg ">
            <div class="w-10 h-10 bg-orange-100 text-orange-500 flex items-center justify-center rounded-lg mb-4">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#FF7900"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-8 h-8 transition-transform duration-300 group-hover:rotate-12 group-hover:scale-110">
                <circle cx="11" cy="11" r="7"/>
                <line x1="21" y1="21" x2="16.65" y2="16.65"/>
                </svg>

            </div>
            <h3 class="text-lg font-bold mb-2">Quick Search</h3>
            <p class="text-gray-600 text-sm">
                Instantly find the documentation you need with our powerful search engine.
            </p>
        </div>

        <div
            tabindex="0"
            class="bg-white p-6   shadow transition-all duration-20 border-1 border-orange-500 shadow p-6 relative hover:shadow-lg transition">
            <div class="w-10 h-10 bg-orange-100 text-orange-500 flex items-center justify-center rounded-lg mb-4">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#FF7900"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-8 h-8 transition-transform duration-300 group-hover:rotate-12 group-hover:scale-110">
                <path d="M12 6h8"/>
                <path d="M12 10h8"/>
                <path d="M12 14h8"/>
                <path d="M4 6h4v12H4z"/>
                </svg>
            </div>
            <h3 class="text-lg font-bold mb-2">Complete Documentation</h3>
            <p class="text-gray-600 text-sm">
                 Detailed guides, code examples, and API references for all services.
            </p>
        </div>

        <div
            tabindex="0"
            class="bg-white p-6  shadow transition-all duration-20 border-1 border-orange-500  shadow p-6 relative hover:shadow-lg transition">
            <div class="w-10 h-10 bg-orange-100 text-orange-500 flex items-center justify-center rounded-lg mb-4">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#FF7900"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-8 h-8 transition-transform duration-300 group-hover:rotate-12 group-hover:scale-110">
                    <path d="M13 2L3 14h7l-1 8 10-12h-7l1-8z"/>
                </svg>
            </div>
            <h3 class="text-lg font-bold mb-2">Always Up-to-Date</h3>
            <p class="text-gray-600 text-sm">
                The documentation is kept up-to-date with the latest API versions.
            </p>
        </div>  
    </div>
</section>
